<?xml version="1.0" encoding="utf-8"?>
<!--
  ClinicCare - Folder publish profile (rubric ID 10, "deployment package").

  Produces a complete, ready-to-upload copy of the site in
  bin\app.publish\FolderPublish\ : compiled bin\, all .aspx/.master pages,
  Assets, and the transformed Web.config.

  Build from Visual Studio  : right-click the project > Publish > FolderPublish
  Build from the command line:
      msbuild ClinicCare.csproj /p:DeployOnBuild=true /p:PublishProfile=FolderPublish /p:Configuration=Release

  Upload the resulting folder to SmarterASP.net over FTP into wwwroot.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <publishUrl>bin\app.publish\FolderPublish</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <PrecompileBeforePublish>False</PrecompileBeforePublish>
  </PropertyGroup>
</Project>
