<?xml version="1.0" encoding="utf-8"?>
<!--
  ClinicCare - Web Deploy package profile (rubric ID 10).

  Produces a single deployable .zip in bin\app.publish\ together with the
  .deploy.cmd script and SetParameters.xml that IIS/Web Deploy uses. This is the
  "deployment package" artefact to hand in alongside the source.

  Build from Visual Studio  : right-click the project > Publish > WebDeployPackage
  Build from the command line:
      msbuild ClinicCare.csproj /p:DeployOnBuild=true /p:PublishProfile=WebDeployPackage /p:Configuration=Release
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>bin\app.publish\ClinicCare.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>True</PackageAsSingleFile>
    <DeployIisAppPath>ClinicCare</DeployIisAppPath>
    <PrecompileBeforePublish>False</PrecompileBeforePublish>
  </PropertyGroup>
</Project>
